<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="SpellChecker"
           Language="1033"
           Codepage="1252"
           Version="1.0.0.0"
           Manufacturer="dikt_prole"
           UpgradeCode="9776B005-A8B9-494A-8EFC-18F7CB9143E4">
    <Package Id="*"
             InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Comments="Spell Checker is distributed free of charges and with no warranty"
             Description="Spell Checker [ProductVersion] Installer"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />

    <Property Id='DiskPrompt' Value="Spell Checker Installation [1]" />

    <Feature Id="ProductFeature" Level="1">
      <ComponentGroupRef Id="Everything" />
    </Feature>

    <!-- UI -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchApplication">
        WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>
    </UI>

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Spell Checker" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />

    <Property Id="WixShellExecTarget" Value="[#SpellCheckerExe]" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />

    <Icon Id="SpellChecker.exe" SourceFile="../SpellChecker/bin/Release/netcoreapp3.1/win10-x64/publish/SpellChecker.exe"/>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="SpellChecker">
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Everything">
      <Component Id="Executables" Directory="INSTALLDIR" Guid="E8CE994A-B46B-4D54-AB07-35DA23580FDB">
        <File Id='SpellCheckerExe' Name='SpellChecker.exe' DiskId='1' Source='../SpellChecker/bin/Release/netcoreapp3.1/win10-x64/publish/SpellChecker.exe'/>
      </Component>
      <Component Id='Icon' Directory='INSTALLDIR' Guid='ED922A83-BE38-4B68-B2DB-012B9BB9D99E'>
        <File Id='Ico' Name='spell-check.ico' DiskId='1' Source='../SpellChecker/bin/Release/netcoreapp3.1/win10-x64/spell-check.ico'/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
